.head {
  height: 150px;
  margin: 0;
  background: darkslategrey;
  color: aliceblue;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  display: flex;
}

.content {
  margin-top: 0;
  height: 150px;
  padding: 15px;
  background: rgb(247, 234, 215);
}

.foot {
  height: 30px;
  display: flex;
  background: aquamarine;
  color: rgb(56, 7, 7);
  text-align: center;
  font-size: 15px;
  align-self: ;
  justify-content: center;
  align-items: center;
}
